@page "/"
@using PilaBlazor.Services
@using System.Collections.Generic;

<PageTitle>Home</PageTitle>


<h1>Pila</h1>

<div class="row">
    <div class="col-6">
        <input type="text" class="form-control" @bind="infijo" />
    </div>
    <div class="col-3 form-group">
        <button class="btn btn-primary" @onclick="Push">Convertir</button>

    @if(@posfijo != ""){
            <button class="btn btn-primary" @onclick="Evaluar">Operar</button>
    }
        <button class="btn btn-danger" @onclick="Limpiar">Limpiar</button>
    </div>
    <div class="col">
        <table class="table table-bordered table-striped table-hover">
            <thead class="table-dark text-center">
                <tr>
                    <th>RESULTADO</th>
                </tr>
            </thead>
            <tbody>
                @if (resultado != 0)
                {
                    <tr>
                        <td>@resultado</td>
                    </tr>
                }
                else{
                <tr>
                    <td>@posfijo</td>
                </tr>
                }
                
            </tbody>
        </table>
    </div>
</div>


@code {


    string infijo;
    string posfijo;
    double resultado;
    Stack<string> pila;

    protected override void OnInitialized()
    {
        pila = new Stack<string>();
        infijo = "";
        posfijo = "";
        pila.Clear();
        resultado = 0;
    }

    private void Push()
    {
        infijo = infijo.Trim();
        if (infijo == "") return;
        for (int i = 0; i < infijo.Length; i++)
        {
            char valor = infijo[i];

            if (char.IsDigit(valor))
            {
                posfijo += valor;
            }
            else if (valor == '(')
            {
                pila.Push(valor.ToString());
            }
            else if (valor == ')')
            {
                while (pila.Count > 0 && pila.Peek() != "(")
                {
                    posfijo += pila.Pop();
                }

                if (pila.Count > 0) pila.Pop();
            }
            else if (valor == '*' || valor == '/' || valor == '+' || valor == '-' || valor == '^')
            {
                int operador = Pila.Prioridad(valor.ToString());

                while (pila.Count > 0 && Pila.Prioridad(pila.Peek()) >= operador)
                {
                    posfijo += pila.Pop();
                }

                pila.Push(valor.ToString());
            }
        }

        while (pila.Count > 0)
        {
            posfijo += pila.Pop();
        }


        }


        public void Evaluar(){
           resultado =  (Pila.EvaluarPostfija(posfijo));
        }

    public void Limpiar()
    {
        infijo = "";
        posfijo = "";
        pila.Clear();
        resultado = 0;
    }



}